h3{
    font-size: 50px;
    color:rebeccapurple;
    background-color:purple;
}
h2{
    font-size: 50px!important;
    color:red;
}
h2{
    font-size: 50px;
    color: aquamarine;
}
p{
    color:blue;
}